body {
    font-family: 'Montserrat';
}
#title {
    background-color: #ff4c68;
    color:whitesmoke;
   
}
.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size:  3rem;
    line-height: 1.5;
    font-weight: bold;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 2;
    /* font-size:  2rem; */
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
p{
    color: #8f8f8f;
    font-size: 0.9rem;
}

/* Navigation Brand  */
.navbar{
    padding: 0 0 4rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2rem;
}

.nav-item{
    padding : 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 'Montserrat-Light';
}

/* Donwload Button  */
.download-button {
    margin: 10% 5% 5% 0;
}

/* Title Image  */
.title-image {
    width : 60%;
    transform : rotate(25deg)
}

/* features */
#features{
    padding : 7% 15%;
}
.feature-box{
    text-align:center;
    padding:5%;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
    
}

.icon:hover {
    color : #ff4c68;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color:#ffff;
    
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}
.carousel-item {
    padding : 8% 20%;
    
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin : 20px 20px 50px;
}


/* pricing section  */
#pricing {
    padding : 30px;
    text-align: center;
    
}
.pricing-column{
    padding: 3%  2%;
} 
@media(max-width:1028px){
    #title{
        text-align:center;
    }
    .title-image{
        position: static;
        transform: rotate(0)
    }
}
/* cta section   */
#cta {
    background-color: #ff4c68;
    color :#fff;
    /* padding: 7% 15%; */
    padding : 0.5625rem 0.9375rem;
    text-align: center;

}
.cta-heading {
    font: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}

/* footer  section   */

#footer{
    padding : 1% 15%;
    text-align: center;
}
.social-icon{
    margin : 20px 10px;
}